In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('train2.csv')

df = df[['srch_id', 'position', 'booking_bool', 'click_bool', 'ndcg']]
array_dcg = []
array_idcg = np.empty(0)
temp_idcg = []
sum_dcg = 0
sum_idcg = 0
length_df = len(df)

def dcg(i, rel):
    return (2**rel - 1)/(np.log2(i + 1))

def reverse_numeric(x, y):
    return y - x

for k in range(0, length_df - 1):
    if k != length_df - 1:
        if(df['srch_id'][k] < df['srch_id'][k + 1]):
            # Last sum dcg is busy.
            sum_dcg += dcg(df['position'][k],df['ndcg'][k])
            array_dcg.append(sum_dcg)
            sum_dcg = 0
        else:
            sum_dcg += dcg(df['position'][k],df['ndcg'][k])
    else:
        # Last sum dcg is busy.
        sum_dcg += dcg(df['position'][k],df['ndcg'][k])
        array_dcg.append(sum_dcg)
        sum_dcg = 0

In [16]:
df = pd.read_csv('train2.csv')

In [8]:
dcg = pd.DataFrame(array_dcg)

In [22]:
df = df.join(dcg)

In [85]:
df.rename(columns={0:'IDCG'}, inplace=True)

In [72]:
df2 = df.head(10000)

In [ ]:
array_idcg2 = np.array([])
t_idcg = np.array([])
length_df = len(df)

def dcg(i, rel):
    return (2**rel - 1)/(np.log2(i + 1))

def reverse_numeric(x, y):
    return y - x

for k in range(0, length_df - 1):
    if k != length_df - 1:
        if(df['srch_id'][k] < df['srch_id'][k + 1]):
            t_idcg = np.append(t_idcg, df['rank_rel'][k])
            t_idcg.sort()
            for j in range(len(t_idcg) - 1, 0, -1):
                sum_idcg += dcg(j, t_idcg[j])
            array_idcg2 = np.append(array_idcg2, sum_idcg)
            sum_idcg = 0
            t_idcg = []
        else:
#             if(df['rank_rel'][k] == 5.0 or df['rank_rel'][k] == 1.0):
                t_idcg = np.append(t_idcg, df['rank_rel'][k])
            
    else:
        t_idcg = np.append(t_idcg, df['rank_rel'][k])
        t_idcg.sort()
        for j in  range(len(t_idcg) - 1, 0, -1):
            sum_idcg += dcg(j, t_idcg[j])
        array_idcg2 = np.append(array_idcg2, sum_idcg)

In [77]:
for i in range(0, 100):
    print (array_idcg[i])

31.0
0.0
31.0
31.0
1.0
1.0
1.0
31.0
31.0
31.0
31.0
31.0
1.0
31.0
31.0
1.0
17.130929753571458
1.0
31.0
31.0
17.130929753571458
31.0
31.0
31.0
31.0
1.0
31.0
31.0
1.0
1.0
31.0
1.0
31.0
31.0
0.0
31.0
31.0
31.0
31.0
0.0
0.0
31.0
1.0
31.0
1.0
31.0
31.0
31.0
1.0
31.0
31.0
1.0
31.0
31.0
0.0
31.0
1.0
31.0
20.558822360715183
1.0
1.0
1.0
31.0
31.0
31.0
31.0
0.0
31.0
31.0
31.0
31.0
1.0
31.0
31.0
31.0
1.0
1.0
31.0
31.0
31.0
1.0
1.0
0.0
1.0
1.0
0.0
1.0
31.0
31.0
1.0
31.0
1.0
1.0
31.0
1.0
1.0
1.0
31.0
1.0
1.0

In [53]:
df.head(10)

,srch_id,prop_country_id,year,month,prop_score,prop_location_score1,prop_location_score2,diff_hist_price,usd_diff,star_diff,...,random_bool,price_usd,total_price,nr_pers,prop_id_counts,comp2_rate,comp5_rate,comp8_rate,rank_rel,DCG
0,1,219,2013,4,0.015481,2.83,0.0438,36.404964,104.77,3.0,...,1,104.77,104.77,4,612,0.0,0.0,0.0,0.0,8.142136
1,1,219,2013,4,0.006777,2.20,0.0149,-17.806987,170.74,4.0,...,1,170.74,170.74,4,583,0.0,0.0,0.0,0.0,0.244651
2,1,219,2013,4,0.011141,2.20,0.0245,-42.797387,179.80,3.0,...,1,179.80,179.80,4,551,0.0,0.0,0.0,0.0,31.000000
3,1,219,2013,4,0.004420,2.83,0.0125,-522.129581,602.77,2.0,...,1,602.77,602.77,4,460,-1.0,0.0,-1.0,0.0,7.584167
4,1,219,2013,4,0.047011,2.64,0.1241,-5.200488,143.58,4.0,...,1,143.58,143.58,4,665,0.0,0.0,0.0,0.0,0.200000
5,1,219,2013,4,0.047007,2.77,0.1302,-14.047758,195.32,4.0,...,1,195.32,195.32,4,643,0.0,0.0,0.0,0.0,1.000000
6,1,219,2013,4,0.016186,2.20,0.0356,-6.618382,129.35,3.0,...,1,129.35,129.35,4,211,0.0,0.0,0.0,0.0,0.205847
7,1,219,2013,4,0.000006,1.61,0.0000,-22.567179,85.37,2.0,...,1,85.37,85.37,4,104,0.0,0.0,0.0,0.0,13.350973
8,1,219,2013,4,0.048363,2.56,0.1238,27.632811,150.05,4.0,...,1,150.05,150.05,4,793,0.0,0.0,0.0,0.0,6.853007
9,1,219,2013,4,0.036328,2.83,0.1028,-108.258510,280.69,4.0,...,1,280.69,280.69,4,675,0.0,0.0,0.0,0.0,6.519607

In [78]:
idcg = pd.DataFrame(array_idcg)

In [82]:
df.columns

Index(['srch_id', 'prop_country_id', 'year', 'month', 'prop_score',
       'prop_location_score1', 'prop_location_score2', 'diff_hist_price',
       'usd_diff', 'star_diff', 'srch_query_affinity_score',
       'orig_destination_distance', 'prop_review_score', 'position',
       'price_rank', 'stars_rank', 'score_rank', 'booking_bool', 'click_bool',
       'price_per_pers', 'random_bool', 'price_usd', 'total_price', 'nr_pers',
       'prop_id_counts', 'comp2_rate', 'comp5_rate', 'comp8_rate', 'rank_rel',
       'DCG'],
      dtype='object')

In [83]:
df = df.join(idcg)

In [91]:
print (df[['srch_id', 'position', 'click_bool', 'booking_bool', 'rank_rel', 'DCG', 'IDCG']].head(100))

    srch_id  position  click_bool  booking_bool  rank_rel        DCG      IDCG
0         1        27           0             0       0.0   8.142136  31.00000
1         1        26           0             0       0.0   0.244651   0.00000
2         1        21           0             0       0.0  31.000000  31.00000
3         1        34           0             0       0.0   7.584167  31.00000
4         1         4           0             0       0.0   0.200000   1.00000
5         1         7           0             0       0.0   1.000000   1.00000
6         1        18           0             0       0.0   0.205847   1.00000
7         1        35           0             0       0.0  13.350973  31.00000
8         1         3           0             0       0.0   6.853007  31.00000
9         1        10           0             0       0.0   6.519607  31.00000
10        1        20           0             0       0.0  31.000000  31.00000
11        1        19           0             0       0.0   8.142136  31.00000
12        1        13           1             1       5.0   0.430677   1.00000
13        1         2           0             0       0.0  13.350973  31.00000
14        1        15           0             0       0.0  31.000000  31.00000
15        1        31           0             0       0.0   0.315465   1.00000
16        1        23           0             0       0.0  31.930677  17.13093
17        1        36           0             0       0.0   0.191959   1.00000
18        1         8           0             0       0.0  31.000000  31.00000
19        1         6           0             0       0.0   9.779411  31.00000
20        1        28           0             0       0.0  16.464263  17.13093
21        1         1           0             0       0.0   7.584167  31.00000
22        1        32           0             0       0.0  13.350973  31.00000
23        1        12           0             0       0.0   7.750000  31.00000
24        1        24           0             0       0.0  13.350973  31.00000
25        1        37           0             0       0.0   0.430677   1.00000
26        1        33           0             0       0.0  31.000000  31.00000
27        1        29           0             0       0.0  10.333333  31.00000
28        4        21           0             0       0.0   1.000000   1.00000
29        4        36           0             0       0.0   0.630930   1.00000
..      ...       ...         ...           ...       ...        ...       ...
70        8         6           0             0       0.0   6.951559  31.00000
71        8        13           0             0       0.0   0.356207   1.00000
72        8        12           0             0       0.0  13.350973  31.00000
73        8        14           0             0       0.0   7.057778  31.00000
74        8         1           0             0       0.0   8.961010  31.00000
75        8        22           0             0       0.0   1.227670   1.00000
76        8        25           0             0       0.0   1.000000   1.00000
77        8        21           0             0       0.0  19.558822  31.00000
78        8        18           0             0       0.0   8.377383  31.00000
79        8         4           0             0       0.0   7.934699  31.00000
80        8         3           0             0       0.0   0.224244   1.00000
81        8         2           0             0       0.0   0.250000   1.00000
82        8         7           0             0       0.0  19.558822   0.00000
83        8        24           0             0       0.0   0.301030   1.00000
84        8         9           0             0       0.0   0.255958   1.00000
85        8         8           0             0       0.0   0.270238   0.00000
86       11        36           0             0       0.0   1.000000   1.00000
87       11        19           0             0       0.0  11.042423  31.00000
88       11        14           0             0       0.0   8.377383  31.00000
89       11         9           0             0       0.0   0.278943   1.00000
90       11        31           1             0       1.0  13.350973  31.00000
91       11         2           0             0       0.0   0.356207   1.00000
92       11        25           0             0       0.0   0.190551   1.00000
93       11         7           0             0       0.0  15.500000  31.00000
94       11         3           0             0       0.0   1.000000   1.00000
95       11        13           0             0       0.0   0.270238   1.00000
96       11        26           0             0       0.0   1.000000   1.00000
97       11        18           0             0       0.0  19.558822  31.00000
98       11        22           0             0       0.0   0.880930   1.00000
99       11        32           0             0       0.0   0.227670   1.00000

[100 rows x 7 columns]