In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

In [ ]:
with open('trainingset.csv', 'r') as csvfile:
    df = pd.read_csv(csvfile, dtype={'booking_bool':bool,'srch_destination_id':np.int32, 
                                     'site_id':np.int32, 'visitor_location_country_id':np.int32,
                                     'visitor_hist_starrating':np.float, 'visitor_hist_adr_usd':np.float,
                                     'prop_country_id':np.int32, 'prop_id':np.int32, 
                                     'prop_starrating':np.int32, 'prop_review_score':np.float,
                                     'prop_brand_bool':bool, 'prop_location_score1':np.float,
                                     'prop_location_score2':np.float, 'prop_log_historical_price':np.float,
                                     'price_usd':np.float, 'promotion_flag':bool,\
                                     'srch_length_of_stay':np.int32, 'srch_booking_window':np.int32,
                                     'srch_adults_count':np.int32, 'srch_children_count':np.int32,
                                     'srch_room_count':np.int32, 'srch_saturday_night_bool':bool,
                                     'srch_query_affinity_score':np.float, 'orig_destination_distance':np.float,
                                     'random_bool':bool, 'position':np.int32, 'click_bool':bool,
                                     'booking_bool':bool, 'gross_bookings_usd':np.float})

In [ ]:
with open('testset.csv', 'r') as csvfile:
    dfTest = pd.read_csv(csvfile, dtype={'booking_bool':bool,'srch_destination_id':np.int32, 
                                     'site_id':np.int32, 'visitor_location_country_id':np.int32,
                                     'visitor_hist_starrating':np.float, 'visitor_hist_adr_usd':np.float,
                                     'prop_country_id':np.int32, 'prop_id':np.int32, 
                                     'prop_starrating':np.int32, 'prop_review_score':np.float,
                                     'prop_brand_bool':bool, 'prop_location_score1':np.float,
                                     'prop_location_score2':np.float, 'prop_log_historical_price':np.float,
                                     'price_usd':np.float, 'promotion_flag':bool,\
                                     'srch_length_of_stay':np.int32, 'srch_booking_window':np.int32,
                                     'srch_adults_count':np.int32, 'srch_children_count':np.int32,
                                     'srch_room_count':np.int32, 'srch_saturday_night_bool':bool,
                                     'srch_query_affinity_score':np.float, 'orig_destination_distance':np.float,
                                     'random_bool':bool})

In [4]:
df = pd.read_csv('trainingset.csv')

### Dates

In [ ]:
df["date_time"] = pd.to_datetime(df["date_time"])
df["year"] = df["date_time"].dt.year
df["month"] = df["date_time"].dt.month

# dfTest["date_time"] = pd.to_datetime(dfTest["date_time"])
# dfTest["year"] = dfTest["date_time"].dt.year
# dfTest["month"] = dfTest["date_time"].dt.month

### Remove outliers price_usd

In [ ]:
# First without due to loss of values, maybe later with

# top2point5 = df.price_usd.quantile(0.975)
# low2point5 = df.price_usd.quantile(0.025)
# df = df[df.price_usd < top2point5]
# df = df[df.price_usd > low2point5]

# top2point5test = dfTest.price_usd.quantile(0.975)
# low2point5test = dfTest.price_usd.quantile(0.025)
# dfTest = dfTest[df.price_usd < top2point5]
# dfTest = dfTest[df.price_usd > low2point5]

### Fill in missing values with worst case scenario

In [ ]:
df.prop_location_score2.loc[np.isnan(df.prop_location_score2)] = 0

# dfTest.prop_location_score2.loc[np.isnan(dfTest.prop_location_score2)] = 0

In [ ]:
df.visitor_hist_starrating.loc[np.isnan(df.visitor_hist_starrating)] = 0
df.visitor_hist_adr_usd.loc[np.isnan(df.visitor_hist_adr_usd)] = 0

# dfTest.visitor_hist_starrating.loc[np.isnan(dfTest.visitor_hist_starrating)] = 0
# dfTest.visitor_hist_adr_usd.loc[np.isnan(dfTest.visitor_hist_adr_usd)] = 0

In [ ]:
df.orig_destination_distance[np.isnan(df.orig_destination_distance)] = 0 
df.prop_review_score[np.isnan(df.prop_review_score)] = 0
df.srch_query_affinity_score[np.isnan(df.srch_query_affinity_score)] = 0

# dfTest.orig_destination_distance[np.isnan(dfTest.orig_destination_distance)] = 0 
# dfTest.prop_review_score[np.isnan(dfTest.prop_review_score)] = 0
# dfTest.srch_query_affinity_score[np.isnan(dfTest.srch_query_affinity_score)] = 0

In [ ]:
df.iloc[:,27:51] = df.iloc[:,27:51].fillna(value = 0, axis = 0)

# dfTest.iloc[:,27:51] = dfTest.iloc[:,27:51].fillna(value = 0, axis = 0)

### Composite features

In [ ]:
df['prop_id_counts'] = df.groupby(['prop_id'])['prop_id'].transform('count')

# dfTest['prop_id_counts'] = dfTest.groupby(['prop_id'])['prop_id'].transform('count')

In [ ]:
df['usd_diff'] = abs(df.price_usd - df.visitor_hist_adr_usd)

# dfTest['usd_diff'] = abs(dfTest.price_usd - dfTest.visitor_hist_adr_usd)

In [ ]:
df['star_diff'] = abs(df.prop_starrating - df.visitor_hist_starrating) 

# dfTest['star_diff'] = abs(dfTest.prop_starrating - dfTest.visitor_hist_starrating)

In [ ]:
df.prop_log_historical_price.loc[np.isnan(df.prop_log_historical_price)] = 0
df['diff_hist_price'] = np.exp(df.prop_log_historical_price) - df.price_usd

# dfTest.prop_log_historical_price.loc[np.isnan(dfTest.prop_log_historical_price)] = 0
# dfTest['diff_hist_price'] = np.exp(dfTest.prop_log_historical_price) - dfTest.price_usd

In [ ]:
#Total price/per night
df['total_price'] = df.price_usd * df.srch_room_count

# dfTest['total_price'] = dfTest.price_usd * dfTest.srch_room_count

In [ ]:
#Price per person
df['price_per_pers'] = (df.price_usd * df.srch_room_count)/(df.srch_adults_count + df.srch_children_count)

# dfTest['price_per_pers'] = (dfTest.price_usd * dfTest.srch_room_count)/(dfTest.srch_adults_count + dfTest.srch_children_count)

In [ ]:
df['prop_score'] = (df.prop_location_score2 + 0.00001)/(df.prop_location_score1 + 0.00001)

# dfTest['prop_score'] = (dfTest.prop_location_score2 + 0.00001)/(dfTest.prop_location_score1 + 0.00001)

In [ ]:
df['nr_pers'] =  df.srch_adults_count + df.srch_children_count

# dfTest['nr_pers'] =  dfTest.srch_adults_count + dfTest.srch_children_count

### Rank features

In [ ]:
df['price_rank'] = df.groupby('srch_id', sort=False)['price_usd'].rank(ascending=True, method ="min")
df['stars_rank'] = df.groupby('srch_id', sort=False)['prop_starrating'].rank(ascending=True, method = "min")
df['score_rank'] = df.groupby('srch_id', sort=False)['prop_location_score2'].rank(ascending=True, method = "min")

# dfTest['price_rank'] = dfTest.groupby('srch_id', sort=False)['price_usd'].rank(ascending=True, method ="min")
# dfTest['stars_rank'] = dfTest.groupby('srch_id', sort=False)['prop_starrating'].rank(ascending=True, method = "min")
# dfTest['score_rank'] = dfTest.groupby('srch_id', sort=False)['prop_location_score2'].rank(ascending=True, method = "min")

### Estimate position:

In [ ]:
print len(set(df.prop_id.unique()).intersection(set(dfTest.prop_id.unique())))
print len(df.prop_id.unique()), len(dfTest.prop_id.unique())
print len(set(dfTest.prop_id.unique()) - set(df.prop_id.unique()))

In [ ]:
# df['position_estimate'] = df.groupby(['prop_id','month','srch_destination_id'])['position'].transform(np.mean)
# df.position_estimate = np.int32(df.position_estimate)

# If working with NcDG this might influence the scores of properties on certain search parameters which may include noise

In [ ]:
#print df[['position','position_estimate']].head(100)
from sklearn.metrics import mean_absolute_error
print mean_absolute_error(df.position,df.position_estimate)

In [ ]:
header = ['srch_id','prop_country_id','year', 'month', 'prop_score','prop_location_score1','prop_location_score2','diff_hist_price',
                'usd_diff', 'star_diff', 'srch_query_affinity_score', 'orig_destination_distance',
                'prop_review_score','position','price_rank','stars_rank','score_rank', 'booking_bool', 'click_bool', 'price_per_pers',
        'random_bool', 'price_usd', 'total_price', 'nr_pers','prop_id_counts', 'comp2_rate', 'comp5_rate','comp8_rate']

In [ ]:
df.to_csv('new_train.csv', columns = header)

In [ ]:
df.position_estimate.isnull().any()

### NDCG formula:

In [35]:
df['ndcg'] = np.zeros(len(df))
df['ndcg'] = np.where(df.click_bool == 1, 1, df.ndcg)
df['ndcg'] = np.where(df.booking_bool == 1, 5, df.ndcg)
df['ndcgscore'] = ((2**df.ndcg - 1) / (np.log2(df.position + 1)))

In [41]:
df.groupby(['srch_id', 'position'])['ndcg', 'ndcgscore']

         ndcg  ndcgscore
0         0.0   0.000000
1         0.0   0.000000
2         0.0   0.000000
3         0.0   0.000000
4         0.0   0.000000
5         0.0   0.000000
6         0.0   0.000000
7         0.0   0.000000
8         0.0   0.000000
9         0.0   0.000000
10        0.0   0.000000
11        0.0   0.000000
12        5.0   8.142136
13        0.0   0.000000
14        0.0   0.000000
15        0.0   0.000000
16        0.0   0.000000
17        0.0   0.000000
18        0.0   0.000000
19        0.0   0.000000
20        0.0   0.000000
21        0.0   0.000000
22        0.0   0.000000
23        0.0   0.000000
24        0.0   0.000000
25        0.0   0.000000
26        0.0   0.000000
27        0.0   0.000000
28        0.0   0.000000
29        0.0   0.000000
...       ...        ...
4958317   0.0   0.000000
4958318   0.0   0.000000
4958319   0.0   0.000000
4958320   0.0   0.000000
4958321   5.0  15.500000
4958322   0.0   0.000000
4958323   0.0   0.000000
4958324   0.0   0.000000
4958325   0.0   0.000000
4958326   0.0   0.000000
4958327   0.0   0.000000
4958328   0.0   0.000000
4958329   0.0   0.000000
4958330   0.0   0.000000
4958331   0.0   0.000000
4958332   0.0   0.000000
4958333   0.0   0.000000
4958334   0.0   0.000000
4958335   0.0   0.000000
4958336   0.0   0.000000
4958337   0.0   0.000000
4958338   0.0   0.000000
4958339   0.0   0.000000
4958340   0.0   0.000000
4958341   0.0   0.000000
4958342   0.0   0.000000
4958343   0.0   0.000000
4958344   0.0   0.000000
4958345   5.0  31.000000
4958346   0.0   0.000000

[4958347 rows x 2 columns]

Per search_id ncdg berekenen

Steps:
column with count of srch_id items

In [ ]:
df.groupby('srch_id').a

In [ ]:
for i in df.srch_id.unique():
    ncdg(srch_id)

def ncdg(srch_id):
    number_of_instances = df.srch_id[srch_id].count()
    
    
    
    
    
    
    return

In [ ]:
df.srch

Computing NcDG

So position

In [ ]:
df['ncdg_rankingvalue'] = np.zeros(len(df))
df['ncdg_rankingvalue'] = np.where(df['click_bool'] == 1, 1, df['ncdg_rankingvalue'])
df['ncdg_rankingvalue'] = np.where(df['booking_bool'] == 1, 5, df['ncdg_rankingvalue'])

In [ ]:
dfsimpletest = df.sample(frac=0.1)

In [ ]:
dfsimpletarget = dfsimpletest[['position', 'ncdg_rankingvalue']]

In [ ]:
dfsimpletest = dfsimpletest.drop(['position', 'ncdg_rankingvalue'], axis =1)

In [ ]:
dfsimpletest = dfsimpletest.drop('date_time', axis =1)